- @body_class = 'home'

.block-100vh
  .stripe
  .content-container
    = image_tag 'sltrc-logo.svg', class: 'South London Touch logo'
    %h2.sub-head
      We gather every Saturday morning in South London to play mixed social touch rugby. We’re a community of players of all ages, abilities &amp; genders.
    = partial 'assets/partials/buttons'

%hr

.block.color-secondary
  .content-container
    %ul.icon-list
      %li
        .icon
          %span.fa.fa-clock-o
        Every Saturday<br> 10am-12pm
      %li
        .icon
          %span.fa.fa-money
        £1 for<br> equipment fees
      %li
        .icon
          %span.fa.fa-map-marker
        Clapham / Tooting<br> Common
      %li
        .icon
          %span.fa.fa-user
        16 Years<br> or Older

.gallery
  = image_tag 'team-1.jpg', alt: 'Development touch series squad'
  = image_tag 'team-2.jpg', alt: 'Club summer social'
  = image_tag 'team-3.jpg', alt: 'Morning team touch training'

.block.color-primary
  .content-container
    %h2.text-center A little about us&hellip;
    %p We're always looking for more players for our social mixed touch rugby group. There's no need for prior experience as all <a href="/basic-touch-rugby-rules.html">rules</a> can be taught whilst playing.
    %p Past and present players have played in a wide variety of other leagues as well as at other venues and levels. It's a great opportunity for beginners to benefit from more experienced players' knowledge, as well as for more experienced players to help beginners develop their skills and advance their knowledge of the game.
    %p For the current location please check the pinned post on the <a href="https://www.facebook.com/groups/sltrc" target="_blank">Facebook page</a>. There is a collection of £1 per person per session, we’ll never ask you to subscribe for a season or year; it’s pay and play.
    %p There are no fixed teams and there is no long-term commitment needed. Just turn up when you're free and leave when you're tired. We do play most <a href="/basic-touch-rugby-rules.html">touch rugby rules</a>, with less emphasis on penalties, but tailored to the individual and their experience playing touch.
    %p To register and keep up to date, join our <a href="//www.facebook.com/groups/sltrc" target="blank">Facebook Group</a>. The only Saturdays we don't play are Christmas Day and New Year's Day.
